.toc {
    background-color: rgba(242, 249, 255, 0.5);
    height: fit-content;
    width: 300px;
    border-radius: 10px;
    position: absolute;
    top: 3vh;
    left: 1rem;
    border-color: rgba(118, 118, 118, 0.3);
    border-width: 2px;
    border-style: dotted;
}

.table-of-contents {
    list-style-type: none;
    
}

.table-of-contents ul {
    max-height: 0;  /* Collapse the list */
    overflow: hidden;
    transition: max-height 0.3s ease-out;  /* Apply transition */
}

.table-of-contents li:hover > ul {
    max-height: 500px;  /* Expand the list to a maximum height */
}

/* .table-of-contents .expanded > ul {
    max-height: 500px; 
} */


.doc {
    height: 100%;
    max-width: 1200px;
    display:flex;
    box-sizing: border-box;
    flex-direction: column;
    margin-left: 380px;
    margin-right: 8%;
}

code {
    background-color: rgb(235, 235, 235);
    box-sizing: border-box;
    padding: 2px;
    border-radius: 5px;
}

/* table in documentation */

.insert-table {
    margin-top: 20px;
    display:flex;
    box-sizing: border-box;
    flex-direction: row;
    flex-wrap: wrap;
}

/* summary part */

.insert-table-group-sum {
    width: 400px;
    display:flex;
    box-sizing: border-box;
    flex-direction: row;
    margin-right: 20px;

}

.insert-table-text-sum {
    width: 200px;
}

.insert-table-img-sum {
    width: 200px;
}

/* sediment budget table */

.insert-table-group-sb {
    width: 200px;
    display:flex;
    box-sizing: border-box;
    flex-direction: column;
    margin-right: 20px;
    margin-bottom: 20px;
}

.insert-table-text-sb {
    height: 75px;
    width: 200px;
}

.insert-table-img-sb {
    width: 200px;
}

/* data explorer style */

.de-data-title-group {
    display:flex;
    box-sizing: border-box;
    flex-direction: row;
    align-items: center;
}

.mark {
    background-color: rgba(233, 246, 237, 0.8);
    box-sizing: border-box;
    padding: 2px 5px;
    border-radius: 10px;
    margin-left: 15px;
}

/* logo part */

.contact-list {
    display: flex;
    flex-direction: row;
    margin: 10px 0 10px 0;
}

.contact-wrapper {
    width: 200px;
    padding-right: 35px;
}

hr {
    border-width: 1px;
    width: 100%;
    margin: 20px 0 20px 0;
}
