/* at the start of CSS, make sure design go to the edge of the browser */
html,
body {
    padding: 0;
    /* border-box doesn't include margin, only padding */
    margin: 0;
}

p {
    font-size: 14px;
    margin: 0;
    line-height: 1.5;
}

.step-notes {
    font-size: 12px;
    margin: 0;
    line-height: 1.5;
    margin-bottom: 10px;
    color: gray;
}

li {
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 5px;
    line-height: 1.8;
}

li p {
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 5px;
    line-height: 1.8;
}

ul {
    margin: 0;
}

h3 {
    font-size: 18px;
    margin-top: 17px;
    margin-bottom: 17px;
}

h4 {
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 15px;
}

h5 {
    font-size: 14px;
    margin-top: 13px;
    margin-bottom: 13px;
}

/* Default button style */

.button {
    background-color: #F4F3F1;
    border: 0;
    height: 25px;
    border-radius: 5px;
    box-shadow: 0 3px #b5b5b5;
    color: rgb(42, 42, 43);
}

.button:hover {
    background-color: #DFE5F2;
    cursor: pointer;
}

.button:active {
    box-shadow: 0 1px #979797;
    transform: translateY(1px)
}

/* overall layout style */

html {
    font-family: sans-serif;
    box-sizing: border-box;
    height: 100%;
    color: rgb(62, 62, 63)
    /* overflow: hidden; */
}

/* header part style*/

header {
    height: 9vh;
    font-size: 12px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.slider {
    height: 100vh;
    width: 100vw;
    transition: top 0.5s;
    top: 0;
    background-image: url("../img/cover.PNG");
    background-size: cover;
    position: fixed;
    z-index: 10000;
}

.collapsed {
    top: calc(-100vh + 1.5rem);
    /* background-color: rgb(204, 224, 245);
    background-image: none; */
    background: rgb(233,246,237);
    background: linear-gradient(90deg, rgba(233,246,237,1) 6%, rgba(194,219,242,1) 100%);
}

.no-transition {
    transition: none;
}

.show {
    display: none;
    position: absolute;
    bottom: 0;
    right: 0;
}

.collapsed .show {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 1.5rem;
}

/* menu bar adjust */

.menu-background {
    height: 45px;
    background-color: rgba(242, 249, 255, 0.9);
    margin-top: 1.5rem;
}

.menu {
    height: 45px;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 650px;
    margin-left: 1rem;
}

.menu-cat {
    width: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(66, 80, 73);
    font-size: 15px;
    cursor: pointer;
}

.menu-cat:hover {
    color: rgb(202, 92, 92);
}

.menu-block {
    height: 45px;
    width: 130px;
    background-color: rgb(91 167 237);
    position: absolute;
    left: 0;
    border-radius: 12px;
    z-index: -1;
    transition: 0.5s;
}

/* handle block hover position */

/* .menu-cat:nth-child(1):hover ~ .menu-block {
    left: 0;
    transition: 0.5s;
}

.menu-cat:nth-child(2):hover ~ .menu-block {
    left: 130px;
    transition: 0.5s;
}

.menu-cat:nth-child(3):hover ~ .menu-block {
    left: 260px;
    transition: 0.5s;
}
.menu-cat:nth-child(4):hover ~ .menu-block {
    left: 390px;
    transition: 0.5s;
}
.menu-cat:nth-child(5):hover ~ .menu-block {
    left: 520px;
    transition: 0.5s;
} */

/* control the original state of all the div exceot UG */

.container {
    display: none;
    height: 88vh;
    overflow: auto;
    width: 100%;
}

/* temporary style for the placeholder */
.draft {
    left: 300px;
    position: relative;
    width: 70%;
}

/* main part style*/

/* unit generator */

#unit-generator-body {
    display:flex;
    box-sizing: border-box;
    flex-direction: row;
    height: 88vh;
    padding: 1vh;
}

.toolbar {
    width: 450px;
    overflow: auto;
}

.step {
    margin-bottom: 20px;
}

#map {
    width: 100%;
    box-sizing: border-box;
}

/* footer part style */

footer {
    height: 2vh;
    font-size: 12px;
    box-sizing: border-box;
    margin: 0;
}

#footnote {
    margin: 0;
    margin-left: 1%;
    box-sizing: border-box;
}

/* specify link color  */
a {
    color: rgb(94, 121, 112);
    text-decoration: none;
  }
  
  a:visited {
    color: rgb(94, 121, 112);
  }
  
  a:hover {
    color: rgb(202, 92, 92);
    font-weight: bold;
  }
  
  a:active {
    color: rgb(202, 92, 92);
  }
/* define "remove" status */
.hidden {
    display: none;
  }