.substep-title {
    margin-bottom: 15px;
}

.piority-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.choice-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.step-two-form {
    margin-bottom: 10px;
}

.finish-group {
    margin-top: 10px;
}

/* Pop up styles */

.step-explain span {
    display: none;
}

.step-explain {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.unit-generator {
    display: inline;
}

.info-tag {
    margin-left: 10px;
}

.info-tag:hover {
    cursor: pointer;
}

.info-tag:hover + span {
    display: block;
    position: absolute;
	width: 150px;
	margin: 0px;
    padding: 0.5rem;
    border-radius: 5px;
    color: '#4f5b8c';
    background: rgba(255, 255, 255, 0.9);
	text-align: left;
	border: 1px solid #a7a7a7;
}

#step-1-pop {
    bottom: 85vh;
	left: 300px;
    z-index: 10000;
}

#step-2-pop {
    bottom: 70vh;
	left: 300px;
    z-index: 10000;
}

/* style if invalid - checkValidarity */

.validated input:invalid,
.validated select:invalid {
    border-color: red;
}

/* + sign is to do style for neighbors */

.leaflet-control-layers-selector:checked + span {
    background-color: rgb(219, 219, 219);
}